body {
 margin: 0;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.product {
 display: flex;
 flex-direction: column;
 align-items: center;
 border: 1px solid #ddd;
 padding: 16px;
 margin: 16px;
 background-color: #fff;
}

.product img {
 max-width: 100%;
 height: auto;
 width: 100%;
 object-fit: cover;
 max-height: 200px;
}

.img {
 max-width: 100%;
 height: auto;
 width: 100%;
 object-fit: contain;
 max-height: 50vh;
}

.product-details {
 text-align: center;
}

.product-detail {
 text-align: center;
 margin-top: 2rem;
}
/* Responsive styles for smaller screens */
@media (max-width: 768px) {
 .product {
  flex-direction: column;
 }

 .product img {
  max-width: 80%;
 }
}

.product-list {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 16px;
}

@media (max-width: 600px) {
 .product-list {
  grid-template-columns: 1fr;
 }
}

@media (min-width: 600px) and (max-width: 900px) {
 .product-list {
  grid-template-columns: repeat(2, 1fr);
 }
}

/* Add this CSS to your stylesheet or create a new one */

.filter-sort {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 20px;
 padding: 10px;
 background-color: #f2f2f2;
 border: 1px solid #ccc;
 border-radius: 5px;
}

.filter-select,
.sort-select {
 display: flex;
 align-items: center;
}

label {
 margin-right: 10px;
 font-weight: bold;
}

select {
 padding: 5px;
 border: 1px solid #ccc;
 border-radius: 5px;
}

/* Optional: Style the select dropdown arrow */
select::-ms-expand {
 display: none;
}

/* Optional: Style when hovering over the select element */
select:hover {
 border-color: #555;
}

.view-details-button {
 background-color: #007bff;
 color: #fff;
 padding: 10px 20px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 font-size: 16px;
 font-weight: bold;
 text-transform: uppercase;
 transition: background-color 0.3s ease-in-out;
}

.view-details-button:hover {
 background-color: #0056b3;
}

.text-center {
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}
